<h2>Signup</h2>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<form action="/signup_mobile" method="post">

<input type="text" name="name" placeholder="Name" required>

<input type="text" name="mobile" placeholder="Mobile Number" required>

<input type="password" name="password" placeholder="Password" required>

<input type="password" name="confirm_password" placeholder="Confirm Password" required>

<button type="submit">Signup with Mobile</button>

</form>

<hr>

<button>Signup with Google</button>
<button>Signup with Facebook</button>

<a href="/login">Already have account? Login</a>